<!doctype html>
<html ng-app="app">

<head>
  <title>Lean Meal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.min.js"></script>

  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> -->

  <style>
    body {
      font-size: 30px;
    }

    h4 {
      font-size: 40px;
    }
  </style>

  <script>

    angular.module('app', ['ngAnimate', 'ngSanitize', 'ui.bootstrap']);
    angular.module('app').controller('main', function ($scope) {
      $scope.foods = [
        { label: 'chicken', value: 0, max: 8, unitWeight: 250, f100: 3.5, c100: 0, p100: 31 }
      ]

      $scope.ratingStates = [
        { stateOn: 'glyphicon-ok-sign', stateOff: 'glyphicon-ok-circle' },
        { stateOn: 'glyphicon-star', stateOff: 'glyphicon-star-empty' },
        { stateOn: 'glyphicon-heart', stateOff: 'glyphicon-ban-circle' },
        { stateOn: 'glyphicon-heart' },
        { stateOff: 'glyphicon-off' }
      ];
    });
  </script>



</head>

<body>
  <div ng-controller="main">
    <div class="container-fluid">
      <div class="row" ng-repeat="food in foods">
        <div class="col">{{food.label}}</div>
        <div class="col">
          <span uib-rating ng-model="food.value" max="food.max"></span>
        </div>
        <div class="col">
          <span class="label label-info">{{food.value * food.unitWeight}}</span>
        </div>
      </div>
    </div>
  </div>

</body>


</html>