<!doctype html>
<html ng-app="app">

<head>
  <title>Lean Meal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.min.js"></script>

  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> -->

  <style>
    body {
      font-size: 25px;
    }

    h4 {
      font-size: 35px;
    }

    :focus {
      outline: 0 !important;
    }
  </style>

  <script>

    angular.module('app', ['ngAnimate', 'ngSanitize', 'ui.bootstrap']);
    angular.module('app').controller('main', function ($scope) {
      $scope.foods = [
        { label: 'chicken', value: 0, max: 8, unit: null, unitWeight: 250, f100: 3.5, c100: 0, p100: 31 },
        { label: 'beef', value: 0, max: 8, unit: null, unitWeight: 250, f100: 12, c100: 0, p100: 26 },
        { label: 'oli', value: 0, max: 4, unit: 'spoons', unitWeight: 15, f100: 100, c100: 0, p100: 0 },
        { label: 'corn', value: 0, max: 3, unit: 'cans', unitWeight: 440, f100: 0, c100: 7, p100: 1 },
        { label: 'bean', value: 0, max: 3, unit: 'cans', unitWeight: 15, f100: 0, c100: 15, p100: 5 },
      ]

      $scope.portions = 6

      $scope.totalCal = 0
      $scope.totalFat = 0
      $scope.totalCarb = 0
      $scope.totalProt = 0

      var nutritionCalc = function (a, b) {
        $scope.totalFat = Math.round($scope.foods.map(x => x.value * x.unitWeight * x.f100 / 100).reduce((y, z) => y + z, 0) / $scope.portions)
        $scope.totalCarb = Math.round($scope.foods.map(x => x.value * x.unitWeight * x.c100 / 100).reduce((y, z) => y + z, 0) / $scope.portions)
        $scope.totalProt = Math.round($scope.foods.map(x => x.value * x.unitWeight * x.p100 / 100).reduce((y, z) => y + z, 0) / $scope.portions)
        $scope.totalCal = 9 * $scope.totalFat + 4 * $scope.totalCarb + 4 * $scope.totalProt
      }

      $scope.$watchCollection('portions', nutritionCalc)
      $scope.foods.forEach((_, i) => {
        $scope.$watchCollection(`foods[${i}]`, nutritionCalc)
      })

      // $scope.ratingStates = [
      //   { stateOn: 'glyphicon-ok-sign', stateOff: 'glyphicon-ok-circle' },
      //   { stateOn: 'glyphicon-star', stateOff: 'glyphicon-star-empty' },
      //   { stateOn: 'glyphicon-heart', stateOff: 'glyphicon-ban-circle' },
      //   { stateOn: 'glyphicon-heart' },
      //   { stateOff: 'glyphicon-off' }
      // ];
    })
  </script>
</head>

<body>
  <div ng-controller="main">
    <div class="container-fluid">

      <div class="row" style="background-color: rgba(0, 153, 255, 0.4)">
        <table class="table">
          <tr>
            <td>{{totalCal}}</td>
            <td>{{totalFat}}g</td>
            <td>{{totalCarb}}g</td>
            <td>{{totalProt}}g</td>
          </tr>
          <tr>
            <th>Cal</th>
            <th>Fat</th>
            <th>Carb</th>
            <th>Prot</th>
          </tr>
        </table>
      </div>

      <div class="row" style="background-color: rgba(0, 153, 255, 0.2)">
        <div class="col">Portions: <span class="label label-info">{{portions}}</span>
        </div>
        <div class="col">
          <span uib-rating ng-model="portions" max="10"></span>
        </div>
      </div>

      <div class="row" ng-repeat="food in foods">
        <div class="col">{{food.label}} <span
            class="label label-info">{{food.unit ? food.value+" "+food.unit : (food.value * food.unitWeight) +" g"}}</span>
        </div>
        <div class="col">
          <span uib-rating ng-model="food.value" max="food.max"></span>
        </div>
      </div>
    </div>
  </div>

</body>


</html>